<body style="background:#F7F7F7;">

<div class="">
  <div id="wrapper">
    <div  class="animate form">
      <section class="login_content">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {:class => "form-horizontal form-label-left",:novalidate=>"novalidate"}) do |f| %>
            <h1>Create Account</h1>
            <%= devise_error_messages! %>
            <%= f.hidden_field :accessLevel,:value=>'User' %>
            <div class="form-group">
              <%= f.text_field :firstname, autofocus: true,:class=>'form-control' , :required =>'required',:placeholder=>"First Name" %>
            </div>
            <div class="form-group">
              <%= f.text_field :lastname, autofocus: true,:class=>'form-control' , :required =>'required',:placeholder=>"Last Name" %>
            </div>
            <div class="form-group">
              <%= f.text_field :dob, autofocus: true,:class=>'form-control dateBirth' , :required =>'required',:placeholder=>"Date Of Birth" %>
            </div>
            <div class="form-group">
              <%= f.text_field :contact, autofocus: true,:class=>'form-control' , :required =>'required',:placeholder=>"Contact Number" %>
            </div>
            <div class="form-group">
              <%= f.text_field :position, autofocus: true,:class=>'form-control' , :required =>'required',:placeholder=>"Position" %>
            </div>
            <div class="form-group">
              <%= f.email_field :email, autofocus: true,:class=>'form-control' , :required =>'required',:placeholder=>"Email Address" %>
            </div>
            <div class="form-group">
              <% if @minimum_password_length %>
                  <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %><br />
              <%= f.password_field :password,:id=>"password" , autocomplete: "off",:class=>'form-control',:required =>'required',:placeholder=>"Passowrd"%>
            </div>
            <div class="form-group">
              <%= f.password_field :password_confirmation,:id=>"password_confirmation" , autocomplete: "off",:class=>'form-control',:required =>'required',:placeholder=>"Confirm Password" %>
            </div>
            <div class="form-group">
                <%= f.text_area :address, autofocus: true,:class=>'form-control' , :required =>'required',:placeholder=>"Address" %>
            </div>
            <div class="form-group">
                <%= f.file_field :avatar,:class=>'form-control' , :required =>'required'%>
            </div>
            <div>
              <%= f.submit "Sign up",:class => "btn btn-default submit" %>
            </div>
            <div class="clearfix"></div>
            <div class="separator">

              <p class="change_link">Already a member ?
                <%= link_to "Log in", new_session_path(resource_name),:class=>"to_register" %>
                <!--<a href="#tologin" class="to_register"> Log in </a>-->
              </p>
              <div class="clearfix"></div>
              <br />
              <div>
                <h1><i class="fa fa-paw" style="font-size: 26px;"></i> Gentelella Alela!</h1>

                <p>©2015 All Rights Reserved. Gentelella Alela! is a Bootstrap 3 template. Privacy and Terms</p>
              </div>
            </div>
        <% end %>
        <!-- form -->
      </section>
      <!-- content -->
    </div>
  </div>
</div>

</body>