<!-- page content -->
<div class="right_col" role="main">
  <div class="">
  <div class="page-title">
    <div class="title_left">
      <h3>
        User's
        <small>
          list
        </small>
      </h3>
    </div>

    <div class="title_right">

    </div>
  </div>
  <div class="clearfix"></div>

  <div class="row">

    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>Active users</h2>
          <ul class="nav navbar-right panel_toolbox">
            <li><a href="#"><i class="fa fa-chevron-up"></i></a>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Settings 1</a>
                </li>
                <li><a href="#">Settings 2</a>
                </li>
              </ul>
            </li>
            <li><a href="#"><i class="fa fa-close"></i></a>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <table id="example" class="table table-striped responsive-utilities jambo_table">
            <thead>
            <tr class="headings">
              <th>Id</th>
              <th>User Name</th>
              <th>Contact</th>
              <th>Email Address</th>
              <th>Position</th>
              <th>Created At</th>
              <th class=" no-link last"><span class="nobr">Action</span>
              </th>
            </tr>
            </thead>

            <tbody>
            <% @user.each do |data| %>
            <tr class="even pointer">
              <td class=" "><%= data.id %></td>
              <td class=" "><%= data.firstname %> <%= data.lastname %></td>
              <td class=" "><%= data.contact %></td>
              <td class=" "><%= data.email %></td>
              <td class=" "><%= data.position %></td>
              <td class=" "><%= data.created_at %></td>
              <td class=" last"><a href="#">View</a>
              </td>
            </tr>
             <% end %>
            </tbody>

          </table>
        </div>
      </div>
    </div>

    <br />
    <br />
    <br />

  </div>
</div>
</div>
