<!-- page content -->
<div class="right_col" role="main">

  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>
          Settings
        </h3>
      </div>

    </div>
    <div class="clearfix"></div>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Mail Server <small>detail</small></h2>

            <div class="clearfix"></div>
          </div>
          <%= render 'form' %>
        </div>
      </div>
    </div>
  </div>



</div>
<!-- /page content -->